<div id="root2">
  <div class="baselayer tint_Home">
    <div class="wrapper" style="margin: 0 auto;">
      
      <section class="cv_header" style="padding-top: 0.1rem;"><h1>&lt;Curriculum Vitae&gt;</h1><div class="cv_top"><h1>Erik Verheijden</h1><h2>User interface designer</h2></div>
      </section>

      <section style="background-color: #ffffff;" class="Personalia"><h2>Personalia</h2><div><div class="col1"><ul><li>Email:</li><li>Telefoonnummer:</li><li>Woonplaats:</li><li>Geboren:</li><li>Nationaliteit:</li></ul></div><div class="col2"><ul><li>verheijden@gmail.com</li><li>06-13831689</li><li>'s-Gravenhage</li><li>11 februari 1975 te Tilburg</li><li>Nederlands</li></ul></div><div class="clear"></div></div>
      </section>

      <section style="background-color: #ffffff;" class="Profiel"><h2>Profiel</h2><div><p style="font-weight: 400">Fraaie en gebruiksvriendelijke user interfaces neerzetten maakt de creatieveling in mij gelukkig. Als UX designer is mijn kracht dat ik daarnaast ervaren ben in frontend architectuur en development. Hierdoor kan ik een brug slaan tijdens het ontwerpproces naar een efficiënte implementatie en een vlot functionerend product.</p><p style="font-weight: 400">De snelle ontwikkeling van het vakgebied met voortdurend evoluerende nieuwe technieken en methodes fascineert me. Mijn voorkeur is om actief te zijn in een sector die een positieve culturele of maatschappelijke bijdrage levert.</p></div>
      </section>

      <section style="background-color: #ffffff;" class="Educatie"><h2>Educatie</h2><ul><li><div class="col1">Instituut:</div><div class="col2">Opleiding:</div><div class="col3">Jaar:</div><div class="clear"></div></li><li><div class="col1">Vijfhart</div><div class="col2">AngularJS</div><div class="col3">2016</div><div class="clear"></div></li><li><div class="col1">AT Computing</div><div class="col2">Linux/Unix CLI</div><div class="col3">2015</div><div class="clear"></div></li><li><div class="col1">Haagse Hogeschool</div><div class="col2">Communication &amp; Multimedia Design BSc</div><div class="col3">2011- 2015</div><div class="clear"></div></li><li><div class="col1">Exin</div><div class="col2">ITIL v3 Foundation</div><div class="col3">2011</div><div class="clear"></div></li><li><div class="col1">Horizon Training</div><div class="col2">Profileren met Lef</div><div class="col3">2011</div><div class="clear"></div></li><li><div class="col1">Boertien Groep</div><div class="col2">Effectief Communiceren</div><div class="col3">2010</div><div class="clear"></div></li><li><div class="col1">Twice IT training</div><div class="col2">Java Programming Fundamentals</div><div class="col3">2008</div><div class="clear"></div></li><li><div class="col1">CompuTrain</div><div class="col2">Adobe Illustrator gevorderd</div><div class="col3">2007</div><div class="clear"></div></li><li><div class="col1">Technische Universiteit Delft</div><div class="col2">Industrieel Ontwerpen (onvoltooid)</div><div class="col3">1994 - 1999</div><div class="clear"></div></li><li><div class="col1">Cobbenhagen College Tilburg</div><div class="col2">VWO Atheneum</div><div class="col3">1987 - 1994</div><div class="clear"></div></li></ul>
      </section>

      <section style="background-color: #ffffff;" class="Ervaring"><h2>Ervaring</h2><ul><li><div class="col1">Werkgever:</div><div class="col2">Functie:</div><div class="col3">Jaar:</div><div class="clear"></div></li><li><div class="col1">KPN Zakelijke Markt</div><div class="col2">Frontend designer</div><div class="col3">2012 - 2016</div><div class="clear"></div></li><li><div class="col1">KPN Getronics</div><div class="col2">Frontend developer (senior)</div><div class="col3">2008 - 2011</div><div class="clear"></div></li><li><div class="col1">Free Record Shop Holding</div><div class="col2">Web designer &amp; developer</div><div class="col3">2008</div><div class="clear"></div></li><li><div class="col1">TNO</div><div class="col2">Web designer &amp; developer</div><div class="col3">2007 -2008</div><div class="clear"></div></li><li><div class="col1">Operator Group Delft</div><div class="col2">Gedetacheerd in diverse ict functies</div><div class="col3">2002 - 2006</div><div class="clear"></div></li><li><div class="col1">Freelance</div><div class="col2">Web designer &amp; developer</div><div class="col3">1999 - 2002</div><div class="clear"></div></li></ul>
      </section>

      <section style="background-color: #ffffff;" class="Development"><h2>Development</h2><div><div class="col33"><ul><li>Javascript &amp; JSON</li><li>Node.js, ExpressJS</li><li>HTML &amp; DOM</li><li>CSS &amp; transitions</li><li>XML &amp; XSLT</li></ul></div><div class="col33"><ul><li>Design patterns</li><li>MVC/MVVM</li><li>Single Sign On</li><li>jQuery</li><li>Templating</li></ul></div><div class="col33"><ul><li>Backbone</li><li>Angular</li><li>React</li><li>Vue</li><li>Backbase portal</li></ul></div><div class="clear"></div></div>
      </section>

      <section style="background-color: #ffffff;" class="UX Design"><h2>UX Design</h2><div><div class="col33"><ul><li>Navigation design</li><li>Interaction design</li><li>Interface design</li><li>Grid based layouts</li><li>Visual Design</li></ul></div><div class="col33"><ul><li>Paper prototyping</li><li>Wireframing</li><li>Mockups &amp; user testing</li><li>Heuristic analysis</li><li>Information Architecture</li></ul></div><div class="col33"><ul><li>User needs analysis</li><li>User characteristics &amp; personas</li><li>Defining tasks &amp; scenarios</li><li>Creating use cases, UML</li><li>Making functional requirements</li></ul></div><div class="clear"></div></div>
      </section>

      <section style="background-color: #ffffff;" class="Methode"><h2>Methode</h2><div><div class="col33"><ul><li>Model &amp; benadering</li><li>User-centered Design</li><li>Elements of User Experience</li><li>Responsive Design</li><li>ITIL</li><li>SCRUM/Agile, Waterfall</li></ul></div><div class="col33"><ul><li>Software</li><li>Adobe Creative Suite</li><li>Omnigraffle</li><li>Sketch</li><li>Enterprise Architect</li><li>macOS, Linux, Unix, Windows</li></ul></div><div class="col33"><ul><li>Devtools</li><li>SublimeText</li><li>Chrome devtools</li><li>NPM, Grunt, Bower</li><li>GitHub, SVN</li><li>PuTTY, WinSCP</li></ul></div><div class="clear"></div></div>
      </section>

      <section style="background-color: #ffffff;">
        <h2>Taalvaardigheid</h2>
        <div>
          <div><table><tbody><tr><th>Taal:</th><th>Schrijven:</th><th>Spreken:</th></tr><tr><td>Nederlands</td><td><div></div><div></div><div></div><div></div><div></div></td><td><div></div><div></div><div></div><div></div><div></div></td></tr><tr><td>Engels</td><td><div></div><div></div><div></div><div></div><div></div></td><td><div></div><div></div><div></div><div></div><div></div></td></tr><tr><td>Duits</td><td><div></div><div></div></td><td><div></div><div></div><div></div></td></tr><tr><td>Frans</td><td><div></div><div></div></td><td><div></div></td></tr></tbody></table></div>
        </div>
      </section>

      <section style="background-color: #ffffff;" style="padding-bottom: 60px;"><h2>Hobby &amp; Interesses</h2><div><p style="font-weight: 400">Altijd volg ik met interesse nieuwe ontwikkelingen op het gebied van interactieve media, design, kunst, techniek, wetenschap en snijvlakken hiertussen.</p><p style="font-weight: 400">Brede culturele interesse voor muziek, films en boeken. Kookenthousiast. Regelmatige concert- en festivalganger. Zelf muzikaal actief op piano en gitaar.</p><p style="font-weight: 400">Groot liefhebber van activiteit in de bergen. Ga het liefst skiën in de (na)winter en hiken langs berghutten in de zomer.</p></div>
      </section>

      <section class="cv_header" style="padding-bottom: 0.1rem; padding-top: 0px">
        <div style="height: 33px; background: linear-gradient(to right,rgba(255,255,255,1),rgba(235,235,235,1),rgba(16, 90, 128,0.4))">
        </div>
        <h1>&lt;/Curriculum Vitae&gt;</h1>
      </section>



      <div class="cv_foto">
      </div>
    </div>

  </div>
</div>


 