<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>{{title}}</title>
    <style>
      html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
      }
      body {
        margin: 0;
        padding-left: 2vw;
        font: 16px Helvetica, Arial, sans-serif;
        width: 100vw;
        height: 100vh;
        background: radial-gradient(ellipse farthest-corner at 8rem 3rem , rgb(16, 90, 128) 0%, #003333 40%, rgb(24, 25, 36) 95%);
        color: #1f3349;
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
