<!DOCTYPE html>
<html ng-app="cvApp">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
